<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    mode="over"
    class="sidenav"
    fixedInViewport="false"
    [attr.role]="isHeadset$ ? 'dialog' : 'navigation'"
  >
    <app-sidenav (close)="drawer.toggle()"></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content class="layout-content">
    <mat-toolbar class="mat-toolbar-dark">
      <button type="button" mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="title">
        {{ title }}
      </div>
      <div class="fill-remaining-space"></div>
    </mat-toolbar>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
