// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$md-green: (
  50: #f3f9e6,
  100: #e1f0c2,
  200: #cde699,
  300: #b8dc70,
  400: #a9d551,
  500: #9acd32,
  600: #92c82d,
  700: #88c126,
  800: #7eba1f,
  900: #6cae13,
  A100: #f1ffe0,
  A200: #d9ffad,
  A400: #c2ff7a,
  A700: #b6ff60,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

// $nterview-primary: mat-palette($mat-indigo);
// $nterview-accent: mat-palette($mat-pink, A200, A100, A400);
$nterview-primary: mat-palette($mat-deep-purple);
$nterview-accent: mat-palette($md-green);

// The warn palette is optional (defaults to red).
$nterview-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$nterview-theme: mat-dark-theme($nterview-primary, $nterview-accent, $nterview-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($nterview-theme);
